<div>
  <nav class="navbar sticky-top navbar-light header">
    <a class="navbar-brand" (click)="gotowelcome()">
      <div class="akcon"><span class="title" style="margin-left: 20px;">AKC</span><img class="icon"><span
          class="title">N</span></div>
    </a>
    <a><span class="title" style="margin-left: 20px; cursor: pointer;" (click)="home()">
      <mat-icon style="font-size:xx-large;" matBadge="15" matBadgeColor="warn">home</mat-icon>
    </span></a>
    <form class="search-form" [formGroup]="searchForm1" (ngSubmit)="searchFormData()">
      <mat-form-field class="search-form-width">
        <input style="font-size:large" type="search" name="searchInput" aria-label="Search" matInput placeholder="Search"
          formControlName="searchInput">
        <button type="submit" style="border: none; background: white; float: right; width: 0; height:0;">
          <mat-icon style="font-size:x-large;" matSuffix>search</mat-icon>
        </button>
      </mat-form-field>
    </form>
    <span class="header1">
      <a><span class="title" style="margin-left: 20px; cursor: pointer;" (click)="message()">
          <mat-icon style="font-size:xx-large;" matBadge="15" matBadgeColor="warn">message</mat-icon>
        </span></a>
      <div (click)="profileDialog()" style="cursor: pointer;">
        <img *ngIf="profile['image']==''" class="profile" [src]="pImage" [alt]="imageAlt" />
        <img *ngIf="profile['image']!=''" class="profile" [src]="imagePath+'profileimages/'+pImage" [alt]="imageAlt" />
        <span class="user-name">{{this.profile['first_name']|titlecase}} {{this.profile['last_name']|titlecase}}</span>
      </div>
      <button mat-icon-button [matMenuTriggerFor]="menu" style="margin-left: 10px;">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu" class="mat">
        <div class="matcontent">
          <div style="cursor: pointer;" class="titlediv" (click)="profileDialog()">
            <div *ngIf="profile['image']==''"><img class="matprofile" [src]="pImage" [alt]="imageAlt" /></div>
            <div *ngIf="profile['image']!=''"><img class="matprofile" [src]="imagePath+'profileimages/'+pImage"
                [alt]="imageAlt" /></div>

            <div class="usernamediv">
              <h4 class="username">{{profile['first_name']|titlecase}} {{profile['last_name']|titlecase}}</h4>
            </div>
          </div>
          <button (click)="profileDialog()" mat-menu-item>View Profile</button>
          <button mat-menu-item>Akcon News</button>
          <button mat-menu-item>Akcon Events</button>
          <button mat-menu-item *ngIf="profile['role']=='admin'" (click)="register()">Register</button>
          <button mat-menu-item (click)="logout()">Logout</button>
        </div>
      </mat-menu>
    </span>
  </nav>
</div>