// *{
//   margin: 0;
//   padding: 0;
//   box-sizing: border-box;
//   font-family: cursive;
// }
// .readmore{
//   cursor: pointer;
//   color: #363636;
// }
// .body{
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   margin-top: 15px;
//   background: #eee;
// }
// .card{
//   position: relative;
//   width: 90%;
//   background: #fff;
//   box-shadow: 5px 5px 10px rgba(0,0,0,0.2),
//              -5px -5px 10px rgba(0,0,0,0.2);
//   padding: 10px;
  
//   border-radius: 10px;
// }
// .card .top{
//   display:flex;
//   justify-content: space-between;
//   align-items: center;
// }
// .card .top .userDetails {
//   display: flex;
//   align-items: center;
// }
// .card .top .userDetails .profileImg{
// position: relative;
// width: 40px;
// height: 40px;
// border-radius: 50%;
// overflow: hidden;
// margin-right: 8px;
// }
// .cover{
//   top: 0;
//   right: 0;
//   width: 100%;
//   height: 100%;
//   object-position: center;
//   cursor: pointer;
// }
// .card .top .userDetails h3{
//   font-size: 16px;
//   color: #363636;
//   font-weight: 600;
//   margin-top: 10px;
//   line-height: 1em;
//   cursor: pointer;
// }
// .des{
//   font-size: 0.90em;
//   color: #808080;
//   font-weight:1000;
// }
// .card .top .userDetails h3 span{
  
//   font-size: 0.90em;
//   color: #808080;
//   font-weight: 500;
// }
// .top .globdot{
// position: absolute;
// margin-left: 3px;
// margin-top: -3px;
// font-weight: bolder;
// align-items: center;
// color: #808080;
// }
// .top .globe{
//   position: absolute;
//   width: 20px;
//   height: 20px;
//   top: 53px;
//   left: 130px;
  
// }
// .dot img{
//   width: 50px;
//   height: 50px;
//   transform: scale(0.4);
//   cursor: pointer;
// }
// .imgBg{
//   position: relative;
//   width: 90%;
//   margin-left: auto;
//   margin-right: auto;
// }
// .imgBg img{
//   top: 30px;
//   height: 480px;
//   max-height: 100%;
//   bottom: 0;
//   border-radius: 10px;
//   justify-content: center;
// }
// .message{
//   font-weight: 700;
//   margin-top: 5px;
//   color: rgba(10,10,10,0.459);
//   line-height: 1.5em;
// }
// .btns{
//   height: 50px;
//   display: flex;
//   align-items: center;
//   justify-content: space-between;
// }

// .left{
//   margin-top: 10px;
//   margin-left: 10%;
//   vertical-align: middle;
//   color: #808080;
// }
// .left h4{
//   font-weight: 500;
//   cursor: pointer;
// }
// .right{
//   margin-top: 10px;
//   margin-right: 10%;
//   vertical-align: middle;
//   color: #808080;
// }
// .right h4{
//   font-weight: 500;
//   cursor: pointer;
// }


// .border{
//   position: relative;
//   margin-left: auto;
//   margin-right: auto;
//   width: 90%;
//   height: 2px;
//   background: #0000004b;

// }
// ul{
//   position: relative;
//   width:90%;
//   height: 75px;
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
// }
// ul li{
//   list-style: none;
//   padding: 50px;
//   width: 33%;
//   height: 50px;
// }
// ul li img{
//   margin-top: -20px;
//   width:40px;
//   height: 40px;
//   cursor: pointer;
//   margin-left: 50px;
// }
// .body:hover{
//   box-shadow: 5px 5px 10px rgb(176, 174, 174);
// }

@media  (min-width: 100px) and (max-width: 600px){
  .dialog{
    pointer-events: none;
  }
  *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.readmore{
  cursor: pointer;
  color: #363636;
}
.body{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  background: #eee;
  background-color: rgba(250, 250, 250);
    
}
.card{
  
  position: relative;
  width: 90%;
  background: #fff;
  // box-shadow: 5px 5px 10px rgba(96, 96, 96),
  //            -5px -5px 10px rgba(96, 96, 96);
  padding: 10px;
  
  border-radius: 10px;
}
.card .top{
  display:flex;
  justify-content: space-between;
  align-items: center;
}
.card .top .userDetails {
  display: flex;
  align-items: center;
}
.card .top .userDetails .profileImg{
position: relative;
width: 40px;
height: 40px;
border-radius: 50%;
overflow: hidden;
margin-right: 8px;
}
.cover{
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  object-position: center;
  cursor: pointer;
}
.card .top .userDetails h3{
  font-size: 16px;
  color: #363636;
  font-weight: 600;
  margin-top: 10px;
  line-height: 1em;
  cursor: pointer;
}
.des{
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 0.90em;
  color: #808080;
  font-weight:1000;
}
.card .top .userDetails h3 span{
  
  font-size: 1em;
  color: #808080;
  font-weight: 500;
}
.top .globdot{
position: absolute;
margin-left: 3px;
margin-top: -3px;
font-weight: bolder;
align-items: center;
color: #808080;
}
.top .globe{
  position: absolute;
  width: 20px;
  height: 20px;
  top: 51px;
    left: 159px;
  
}
.dot img{
  width: 50px;
  height: 50px;
  transform: scale(0.4);
  cursor: pointer;
}
.imgBg{
  position: relative;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.imgBg img{
  top: 30px;
  height: 360px;
  max-height: 100%;
  bottom: 0;
  border-radius: 10px;
  justify-content: center;
}
.message{
  font-weight: 700;
  margin-top: 5px;
  color: rgba(10,10,10,0.459);
  line-height: 1.5em;
}
.btns{
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left{
  margin-top: 10px;
  margin-left: 10%;
  vertical-align: middle;
  color: #808080;
}
.left h4{
  font-weight: 500;
  cursor: pointer;
}
.right{
  margin-top: 10px;
  margin-right: 10%;
  vertical-align: middle;
  color: #808080;
}
.right h4{
  font-weight: 500;
  cursor: pointer;
}


.border{
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 2px;
  background: #0000004b;

}
ul{
  position: relative;
  width:90%;
  height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
ul li{
  list-style: none;
  padding: 50px;
  width: 33%;
  height: 50px;
}
ul li img{
  margin-top: -20px;
  width:40px;
  height: 40px;
  cursor: pointer;
  margin-left: 50px;
}
.feed__input {
  border: 1px solid lightgray;
  border-radius: 30px;
  display: flex;
  padding: 10px;
  color: gray;
  padding-left: 15px;
  margin-top: 10px;
}
.feed__input > form {
  display: flex;
  width: 100%;
}

.feed__input > form > input {
  border: none;
  flex: 1;
  margin-left: 10px;
  outline-width: 0;
  font-size: 30px;
    font-weight: 400;
}

.feed__input > form > button {
  display: none;
}

.feed__inputOptions {
  display: flex;
  justify-content: space-evenly;
}

.inputOption {
  display: flex;
  align-items: center;
  margin-top: 15px;
  color: gray;
  padding: 10px;
  justify-content: space-between;
}



.inputOption > h4 {
  margin-left: 5px;
  
}


}
@media only screen and (min-width: 601px) and (max-width: 768px) {
  .dialog{
    pointer-events: none;
  }
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .readmore{
    cursor: pointer;
    color: #363636;
  }
   .body{
    display: flex;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    
    border: 1px solid rgba(203, 203, 204, 0.918);
  }
  .card{
    
    position: relative;
    width: 80%;
    background-color: #fff; 
    // box-shadow: 5px 5px 10px rgba(0,0,0,0.2),
    //            -5px -5px 10px rgba(0,0,0,0.2);
    padding: 10px;
    
    border-radius: 10px;
  }
  .card .top{
    display:flex;
    justify-content: space-between;
    align-items: center;
  }
  .card .top .userDetails {
    display: flex;
    align-items: center;
  }
  .card .top .userDetails .profileImg{
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 8px;
  }
  .cover{
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    object-position: center;
    cursor: pointer;
  }
  .card .top .userDetails h3{
    font-size: 16px;
    color: #363636;
    font-weight: 600;
    margin-top: 10px;
    line-height: 1em;
    cursor: pointer;
  }
  .des{
    font-size: 0.90em;
    color: #808080;
    font-weight:1000;
  }
  .card .top .userDetails h3 span{
    
    font-size: 1em;
    color: #808080;
    font-weight: 500;
  }
  .top .globdot{
  position: absolute;
  margin-left: 3px;
  margin-top: -3px;
  font-weight: bolder;
  align-items: center;
  color: #808080;
  }
  .top .globe{
    position: absolute;
    width: 20px;
    height: 20px;
    top: 51px;
    left: 159px;
    
  }
  .dot img{
    width: 50px;
    height: 50px;
    transform: scale(0.4);
    cursor: pointer;
  }
  .imgBg{
    position: relative;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  .imgBg img{
    top: 30px;
    height: 450px;
    bottom: 0;
    border-radius: 10px;
    justify-content: center;
  }
  .message{
    font-weight: 700;
    margin-top: 5px;
    color: rgba(10,10,10,0.459);
    line-height: 1.5em;
  }
  .btns{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .left{
    margin-top: 10px;
    margin-left: 10%;
    vertical-align: middle;
    color: #808080;
  }
  .left h4{
    font-weight: 500;
    cursor: pointer;
  }
  .right{
    margin-top: 10px;
    margin-right: 10%;
    vertical-align: middle;
    color: #808080;
  }
  .right h4{
    font-weight: 500;
    cursor: pointer;
  }
  
  
  .border{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 2px;
    background: #0000004b;
  
  }
  ul{
    position: relative;
    width:90%;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  ul li{
    list-style: none;
    padding: 50px;
    width: 33%;
    height: 50px;
  }
  ul li img{
    margin-top: -20px;
    width:40px;
    height: 40px;
    cursor: pointer;
    margin-left: 50px;
  }
  .feed__input {
    border: 1px solid lightgray;
    border-radius: 30px;
    display: flex;
    padding: 10px;
    color: gray;
    padding-left: 15px;
    margin-top: 10px;
  }
  .feed__input > form {
    display: flex;
    width: 100%;
  }
  
  .feed__input > form > input {
    border: none;
    flex: 1;
    margin-left: 10px;
    outline-width: 0;
    font-size: 30px;
    font-weight: 400;
  }
  
  .feed__input > form > button {
    display: none;
  }
  
  .feed__inputOptions {
    display: flex;
    justify-content: space-evenly;
  }
  
  .inputOption {
    display: flex;
    align-items: center;
    margin-top: 15px;
    color: gray;
    padding: 10px;
    justify-content: space-between;
  }
  
  
  
  .inputOption > h4 {
    margin-left: 5px;
    
  }
  
  
}
@media only screen and (min-width: 769px) and (max-width: 992px) {
  .dialog{
    pointer-events: none;
  }
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .readmore{
    cursor: pointer;
    color: #363636;
  }
   .body{
    display: flex;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    background: #eee;
    background-color: rgba(250, 250, 250);
    border: 1px solid rgba(203, 203, 204, 0.918);
  }
  .card{
    background-color: rgba(250, 250, 250);
    position: relative;
    width: 90%;
    background: #fff;
    // box-shadow: 5px 5px 10px rgba(0,0,0,0.2),
    //            -5px -5px 10px rgba(0,0,0,0.2);
    padding: 10px;
    
    border-radius: 10px;
  }
  .card .top{
    display:flex;
    justify-content: space-between;
    align-items: center;
  }
  .card .top .userDetails {
    display: flex;
    align-items: center;
  }
  .card .top .userDetails .profileImg{
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 8px;
  }
  .cover{
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    object-position: center;
    cursor: pointer;
  }
  .card .top .userDetails h3{
    font-size: 16px;
    color: #363636;
    font-weight: 600;
    margin-top: 10px;
    line-height: 1em;
    cursor: pointer;
  }
  .des{
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 0.90em;
    color: #808080;
    font-weight:1000;
  }
  .card .top .userDetails h3 span{
    
    font-size: 1em;
    color: #808080;
    font-weight: 500;
  }
  .top .globdot{
  position: absolute;
  margin-left: 3px;
  margin-top: -3px;
  font-weight: bolder;
  align-items: center;
  color: #808080;
  }
  .top .globe{
    position: absolute;
    width: 20px;
    height: 20px;
    top: 51px;
    left: 159px;
    
  }
  .dot img{
    width: 50px;
    height: 50px;
    transform: scale(0.4);
    cursor: pointer;
  }
  .imgBg{
    position: relative;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  .imgBg img{
    top: 30px;
    height: 512px;
    max-height: 100%;
    bottom: 0;
    border-radius: 10px;
    justify-content: center;
  }
  .message{
    font-weight: 700;
    margin-top: 5px;
    color: rgba(10,10,10,0.459);
    line-height: 1.5em;
  }
  .btns{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .left{
    margin-top: 10px;
    margin-left: 10%;
    vertical-align: middle;
    color: #808080;
  }
  .left h4{
    font-weight: 500;
    cursor: pointer;
  }
  .right{
    margin-top: 10px;
    margin-right: 10%;
    vertical-align: middle;
    color: #808080;
  }
  .right h4{
    font-weight: 500;
    cursor: pointer;
  }
  
  
  .border{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 2px;
    background: #0000004b;
  
  }
  ul{
    position: relative;
    width:90%;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  ul li{
    list-style: none;
    padding: 50px;
    width: 33%;
    height: 50px;
  }
  ul li img{
    margin-top: -20px;
    width:40px;
    height: 40px;
    cursor: pointer;
    margin-left: 50px;
  }
  .feed__input {
    border: 1px solid lightgray;
    border-radius: 30px;
    display: flex;
    padding: 10px;
    color: gray;
    padding-left: 15px;
    margin-top: 10px;
  }
  .feed__input > form {
    display: flex;
    width: 100%;
  }
  
  .feed__input > form > input {
    border: none;
    flex: 1;
    margin-left: 10px;
    outline-width: 0;
    font-size: 30px;
    font-weight: 400;
  }
  
  .feed__input > form > button {
    display: none;
  }
  
  .feed__inputOptions {
    display: flex;
    justify-content: space-evenly;
  }
  
  .inputOption {
    display: flex;
    align-items: center;
    margin-top: 15px;
    color: gray;
    padding: 10px;
    justify-content: space-between;
  }
  
  
  
  .inputOption > h4 {
    margin-left: 5px;
    
  }
  
}
@media (min-width: 993px) and (max-width: 1200px) {
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .readmore{
    cursor: pointer;
    color: #363636;
  }
   .body{
    display: flex;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    background: #eee;
    background-color: rgba(250, 250, 250);
    border: 1px solid rgba(203, 203, 204, 0.918);
  }
  .card{
    background-color: rgba(250, 250, 250);
    position: relative;
    width: 100%;
    background: #fff;
    // box-shadow: 5px 5px 10px rgba(0,0,0,0.2),
    //            -5px -5px 10px rgba(0,0,0,0.2);
    padding: 10px;
    
    border-radius: 10px;
  }
  .card .top{
    display:flex;
    justify-content: space-between;
    align-items: center;
  }
  .card .top .userDetails {
    display: flex;
    align-items: center;
  }
  .card .top .userDetails .profileImg{
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 8px;
  }
  .cover{
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    object-position: center;
    cursor: pointer;
  }
  .card .top .userDetails h3{
    font-size: 16px;
    color: #363636;
    font-weight: 600;
    margin-top: 10px;
    line-height: 1em;
    cursor: pointer;
  }
  .des{
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 0.90em;
    color: #808080;
    font-weight:1000;
  }
  .card .top .userDetails h3 span{
    
    font-size: 1em;
    color: #808080;
    font-weight: 500;
  }
  .top .globdot{
  position: absolute;
  margin-left: 3px;
  margin-top: -3px;
  font-weight: bolder;
  align-items: center;
  color: #808080;
  }
  .top .globe{
    position: absolute;
    width: 20px;
    height: 20px;
    top: 51px;
    left: 159px;
    
  }
  .dot img{
    width: 50px;
    height: 50px;
    transform: scale(0.4);
    cursor: pointer;
  }
  .imgBg{
    position: relative;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .imgBg img{
    top: 30px;
    height: 450px;
    bottom: 0;
    border-radius: 10px;
    justify-content: center;
  }
  .message{
    font-weight: 700;
    margin-top: 5px;
    color: rgba(10,10,10,0.459);
    line-height: 1.5em;
  }
  .btns{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .left{
    margin-top: 10px;
    margin-left: 10%;
    vertical-align: middle;
    color: #808080;
  }
  .left h4{
    font-weight: 500;
    cursor: pointer;
  }
  .right{
    margin-top: 10px;
    margin-right: 10%;
    vertical-align: middle;
    color: #808080;
  }
  .right h4{
    font-weight: 500;
    cursor: pointer;
  }
  
  
  .border{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 2px;
    background: #0000004b;
  
  }
  ul{
    position: relative;
    width:90%;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  ul li{
    list-style: none;
    padding: 50px;
    width: 33%;
    height: 50px;
  }
  ul li img{
    margin-top: -20px;
    width:40px;
    height: 40px;
    cursor: pointer;
    margin-left: 50px;
  }
}
@media (min-width: 1201px) and (max-width:1500px) {
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .readmore{
    cursor: pointer;
    color: #363636;
  }
   .body{
    display: flex;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    background: #eee;
    background-color: rgba(250, 250, 250);
    border: 1px solid rgba(203, 203, 204, 0.918);
  }
  .card{
    background-color: rgba(250, 250, 250);
    position: relative;
    width: 100%;
    background: #fff;
    // box-shadow: 5px 5px 10px rgba(0,0,0,0.2),
    //            -5px -5px 10px rgba(0,0,0,0.2);
    padding: 10px;
    
    border-radius: 10px;
  }
  .card .top{
    display:flex;
    justify-content: space-between;
    align-items: center;
  }
  .card .top .userDetails {
    display: flex;
    align-items: center;
  }
  .card .top .userDetails .profileImg{
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 8px;
  }
  .cover{
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    object-position: center;
    cursor: pointer;
  }
  .card .top .userDetails h3{
    font-size: 16px;
    color: #363636;
    font-weight: 600;
    margin-top: 10px;
    line-height: 1em;
    cursor: pointer;
  }
  .des{
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 0.90em;
    color: #808080;
    font-weight:1000;
  }
  .card .top .userDetails h3 span{
    
    font-size: 1em;
    color: #808080;
    font-weight: 500;
  }
  .top .globdot{
  position: absolute;
  margin-left: 3px;
  margin-top: -3px;
  font-weight: bolder;
  align-items: center;
  color: #808080;
  }
  .top .globe{
    position: absolute;
    width: 20px;
    height: 20px;
    top: 51px;
    left: 159px;
    
  }
  .dot img{
    width: 50px;
    height: 50px;
    transform: scale(0.4);
    cursor: pointer;
  }
  .imgBg{
    position: relative;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .imgBg img{
    top: 30px;
    height: 450px;
    bottom: 0;
    border-radius: 10px;
    justify-content: center;
  }
  .message{
    font-weight: 700;
    margin-top: 5px;
    color: rgba(10,10,10,0.459);
    line-height: 1.5em;
  }
  .btns{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .left{
    margin-top: 10px;
    margin-left: 10%;
    vertical-align: middle;
    color: #808080;
  }
  .left h4{
    font-weight: 500;
    cursor: pointer;
  }
  .right{
    margin-top: 10px;
    margin-right: 10%;
    vertical-align: middle;
    color: #808080;
  }
  .right h4{
    font-weight: 500;
    cursor: pointer;
  }
  
  
  .border{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 2px;
    background: #0000004b;
  
  }
  ul{
    position: relative;
    width:90%;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  ul li{
    list-style: none;
    padding: 50px;
    width: 33%;
    height: 50px;
  }
  ul li img{
    margin-top: -20px;
    width:40px;
    height: 40px;
    cursor: pointer;
    margin-left: 50px;
  }
  .feed__input {
    border: 1px solid lightgray;
    border-radius: 30px;
    display: flex;
    padding: 10px;
    color: gray;
    padding-left: 15px;
    margin-top: 10px;
  }
  .feed__input > form {
    display: flex;
    width: 100%;
  }
  
  .feed__input > form > input {
    border: none;
    flex: 1;
    margin-left: 10px;
    outline-width: 0;
    font-size: 30px;
    font-weight: 400;
  }
  
  .feed__input > form > button {
    display: none;
  }
  
  .feed__inputOptions {
    display: flex;
    justify-content: space-evenly;
  }
  
  .inputOption {
    display: flex;
    align-items: center;
    margin-top: 15px;
    color: gray;
    padding: 10px;
    justify-content: space-between;
  }
  
  
  
  .inputOption > h4 {
    margin-left: 5px;
    
  }
  
}

@media (min-width: 1501px)  {
  
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
  }
  .readmore{
    cursor: pointer;
    color: #363636;
  }
   .body{
    display: flex;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
   
    background-color:#fff;
    border: 1px solid rgba(203, 203, 204, 0.918);
  }
  .card{
    position: relative;
    width: 100%;
    background-color: #fff;
    // box-shadow: 5px 5px 10px rgba(0,0,0,0.2),
    //            -5px -5px 10px rgba(0,0,0,0.2);
    padding: 10px;
    
    border-radius: 10px;
  }
  .card .top{
    display:flex;
    justify-content: space-between;
    align-items: center;
  }
  .card .top .userDetails {
    display: flex;
    align-items: center;
  }
  .card .top .userDetails .profileImg{
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 8px;
  }
  .cover{
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    object-position: center;
    cursor: pointer;
  }
  .card .top .userDetails h3{
    font-size: 16px;
    color: #363636;
    font-weight: 600;
    margin-top: 10px;
    line-height: 1em;
    cursor: pointer;
  }
  .des{
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 0.90em;
    color: #808080;
    font-weight:1000;
  }
  .card .top .userDetails h3 span{
    
    font-size: 1em;
    color: #808080;
    font-weight: 500;
  }
  .top .globdot{
  position: absolute;
  margin-left: 3px;
  margin-top: -3px;
  font-weight: bolder;
  align-items: center;
  color: #808080;
  }
  .top .globe{
    position: absolute;
    width: 20px;
    height: 20px;
    top: 51px;
    left: 164px;
    
  }
  .dot img{
    width: 50px;
    height: 50px;
    transform: scale(0.4);
    cursor: pointer;
  }
  .imgBg{
    position: relative;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .imgBg img{
    display: block;
  margin-left: auto;
  margin-right: auto;
    top: 30px;
    height: 450px;
    width: 450px;
    bottom: 0;
    border-radius: 5px;
    justify-content: center;
  }
  .message{
    font-weight: 700;
    margin-top: 5px;
    color: rgba(10,10,10,0.459);
    line-height: 1.5em;
  }
  .btns{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .left{
    margin-top: 10px;
    margin-left: 10%;
    vertical-align: middle;
    color: #808080;
  }
  .left h4{
    font-weight: 500;
    cursor: pointer;
  }
  .right{
    margin-top: 10px;
    margin-right: 10%;
    vertical-align: middle;
    color: #808080;
  }
  .right h4{
    font-weight: 500;
    cursor: pointer;
  }
  
  
  .border{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 2px;
    background: #0000004b;
  
  }
  ul{
    position: relative;
    width:90%;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .inputOption {
    display: flex;
    align-items: center;
    margin-top: 15px;
    color: gray;
    padding: 10px;
  }
  ////////////////////////////////comment css
  .feed__input {
    border: 1px solid lightgray;
    border-radius: 30px;
    display: flex;
    padding: 10px;
    color: gray;
    padding-left: 15px;
    margin-top: 10px;
  }
  .feed__input > form {
    display: flex;
    width: 100%;
  }
  
  .feed__input > form > input {
    border: none;
    flex: 1;
    margin-left: 10px;
    outline-width: 0;
    font-size: 15px;
    font-weight: 400;
  }
  
  .feed__input > form > button {
    border: none; 
    background-color: white;
  }
  
  .feed__inputOptions {
    display: flex;
    justify-content: space-evenly;
  }
  
  .inputOption {
    display: flex;
    align-items: center;
    margin-top: 15px;
    color: gray;
    padding: 10px;
    justify-content: space-between;
  }
  
  
  
  .inputOption > h4 {
    margin-left: 5px;
    
  }
  .showcomment{
    margin-top: 10px;
  }
  .commentername{
  font-size: 16px;
  color: #363636;
  font-weight: 600;
  margin-top: 10px;
  line-height: 1em;
  cursor: pointer;
  }
  /////////////////
  .commentUserDetails {
    display:flex;
    margin-top: 10px;
    align-items: center;
  }
  .userDetails .commentProfileImg{
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 8px;
  }
  
  .cover2{
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  border-radius: 50px;
  margin-left: 10px;
  object-position: center;
  cursor: pointer;
}

  .commentUserDetails h3{
    font-size: 14px;
    color: #222121;
    font-weight: 500;
    margin-top: 10px;
    margin-left: 10px;
    line-height: 1em;
    cursor: pointer;
  }
  .commentUserDetails h3 span{
    
    font-size: 1em;
    color: #808080;
    font-weight: 500;
  }
  .commentbox{
    margin-left: auto;
    width: 90%;
    background-color: #eeeded;
    padding: 1rem;
    border-radius: 0rem 1rem 1rem 1rem;
    margin-top: -10px;
  }

  
}

