<div class="body">
    <section class="Form mx-3">
        <div class="div" mat-dialog-actions>
            <button style="background-color:red" (click)="closeMe()" class="close-icon" mat-button mat-dialog-close ><mat-icon style="color:white" >close </mat-icon></button>
        </div>
    <div class="container">
            <!-- <div class="row no-gutters" > -->
                <div class="col-lg-6" >
                    <img src="assets/img/forgot1.svg" class="image img-fluid"  alt="forgot image">
                </div>
                <div class="col-lg-6">
                    <h1 class="title mt-5 fw-bolder" style="color: #517200">Forget Password</h1>
                    <P class="my-1 fst-italic">Accept What is And Forget What was</P>
                    <div class="forms-container">
                        <form *ngIf="showMe" class="forgot-form" #forgot_username="ngForm"  (ngSubmit)="onSubmit1(forgot_username.value)">
                            <div class="form-row">
                                <div class="col-lg-12 my-2 ">
                                    <input type="text" class="input-box" #email="ngModel" ngModel name="email" id="email" placeholder="Email or Roll No." class="form-control " required>
                                </div>
                            </div>
                            <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert">
    
                                <div *ngIf="email.errors?.['required']">
                                    Email/Mobile is required.
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-lg-12 my-2 ">
                                    <button (click)="show_sec_Form()"  type="submit" [disabled]="!forgot_username.valid" class="input-group">
                                        <mat-icon matPrefix class="icon my-1">send</mat-icon>
                                        <i class=" mat-button btn-r " >Send OTP</i>
                                    </button>
                                </div>
                            </div>
                            <p *ngIf="this.idmsg!=''">{{this.idmsg}}</p>
                        </form>
                        <form *ngIf="showMe1" #forgotOtp="ngForm" (ngSubmit)="onOtp(forgotOtp.value);">
                            <div class="form-row">
                                <div class="col-lg-12 my-2 ">
                                    <input #otp="ngModel" ngModel type="text" name="OTP" placeholder="Enter OTP" id="otp" class="form-control " required>
                                </div>
                            </div>
                            <div *ngIf="otp.invalid && (otp.dirty || otp.touched)" class="alert">
   
                                <span *ngIf="otp.errors?.['required']">
                                    OTP is required.
                                </span>
                            </div>
                            <div class="form-row">
                                <div class="col-lg-12 my-2 ">
                                    <button  type="submit" [disabled]="!forgotOtp.valid" class="input-group">
                                        <mat-icon matPrefix class="icon my-1">done</mat-icon>
                                        <i class="mat-button btn-r" >Submit</i>
                                    </button>
                                </div>
                            </div>
                            <p *ngIf="this.otpmsg!=''">{{this.otpmsg}}</p>
                        </form>
                        <form *ngIf="showMe2" #passwordForm="ngForm" (ngSubmit)="onpasswordSubmit(passwordForm.value)">
                            <h4 style="color: #95ad5b">New Password</h4>
                            <input ngModel #new_password="ngModel" name="new_password" type="text" Placeholder="Abc@1234" required>
                            <br>
                            <h4 style="color: #95ad5b">Confirm Password</h4>
                            <input ngModel name="confirm_password" #confirm_password="ngModel" type="text" placeholder="********" required>
                            <br><span class="alert" *ngIf="pass==true">new password and confirm passwords must be same</span>
                            <button class="third_form_button" mat-button [disabled]="!passwordForm.valid" type="submit">Submit</button>
                            <br>
                            <!-- <p class="success" *ngIf="new_confirm_show">Your Form is Submitted Succesfully</p> -->
                        </form>
                    </div>
                </div>
            <!-- </div> -->
        </div>
    </section>
</div>