.container{
    margin-top:5px;
}
.header{
    display: flex;
    flex-direction: row;
    margin-bottom:5px;
    justify-content: space-between;
}
.container{
    display: flex;
    flex-direction: column;
}
.body{
    // margin-bottom: 10px;
    margin-top: 15px;
    margin-bottom:15px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.body img{
    height:100%;
    
}
.close button:hover{
    color:red;
}

