<!-- <p>welcome works!</p> -->
<!-- <button (click)="login()" style="height: 100px;width: 100px;">login</button> -->


<nav class="mx-auto navbar" style="z-index: 1;">
<ul>
  <li><a (click)="login()">Home</a></li>
  <li><a (click)="scrollToElement(about)">About</a></li>
  <li><a (click)="scrollToElement(contact)">Contact Us</a></li>
  <li><a href="#">Log in</a></li>
</ul>
</nav>
<section id="home">
<div class="main">
  <h1 class="mx-auto headings">Welcome to AKGEC</h1>
  <h1 class="mx-auto headings">"MCA Alumni"</h1>
</div>
</section> 


<!------ Include the above in your HEAD tag ---------->



<section #about class="our-webcoderskull padding-lg">
<div class="container">
<div class="row heading heading-icon">
    <h2>Our Team</h2>
</div>
<ul class="row">
    <li class="team-detail col-12 col-md-6 col-lg-3">
        <div class="cnt-block equal-hight" style="height: 349px;">
          <figure><img src="assets/img/hod.jpg" class="img-responsive" alt=""></figure>
          <h3><a >Dr. Birendra Kumar Sharma</a></h3>
          <p>Principal, AKGEC-MCA, Project Leader</p>
          <ul class="follow-us clearfix">
            <li><a ><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
            <li><a ><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
            <li><a ><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
          </ul>
        </div>
        <div class="text-field">
          <div>
            <h2>Dr. BK Sharma has an academic background with MCA from JNU, New Delhi, M.Tech from Guru Gobind Singh Indraprastha University, Delhi and PhD from Shobhit University Meerut.</h2>
          </div>
        </div>
    </li>
  <li class=" team-detail col-12 col-md-6 col-lg-3">
      <div class="cnt-block equal-hight" style="height: 349px;">
        <figure><img src="assets/img/pushpendra.jpeg" class="img-responsive" alt=""></figure>
        <h3><a href="#">Pushpendra Yadav</a></h3>
        <p>Full Stact Developer</p>
        <ul class="follow-us clearfix">
          <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
          <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
          <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
        </ul>
      </div>
      <div class="text-field">
        <div>
          <h2>Mr. Pushpendra Yadav has an academic background with BCA from xyz University,Firozabad, MCA from Ajay Kumar Garg Engineering College, Ghaziabad.</h2>
        </div>
      </div>
  </li>
  <li class="team-detail col-12 col-md-6 col-lg-3">
      <div class="cnt-block equal-hight" style="height: 349px;">
        <figure><img src="assets/img/kumar.jpeg" class="img-responsive" alt=""></figure>
        <h3><a href="#">Rachit Kumar</a></h3>
        <p>Frontend Developer</p>
        <ul class="follow-us clearfix">
          <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
          <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
          <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
        </ul>
      </div>
      <div class="text-field">
        <div>
          <h2>Mr. Rachit Kumar has an academic background with B.Sc from Delhi University,Delhi, MCA from Ajay Kumar Garg Engineering College, Ghaziabad.</h2>
        </div>
      </div>
  </li>
  
  <li class="team-detail col-12 col-md-6 col-lg-3">
      <div class="cnt-block equal-hight" style="height: 349px;">
        <figure><img src="assets/img/rachit pic.jpeg" class="img-responsive" alt=""></figure>
        <h3><a href="#">Rachit Tomar </a></h3>
        <p>Frontend Developer</p>
        <ul class="follow-us clearfix">
          <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
          <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
          <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
        </ul>
      </div>
      <div class="text-field">
        <div>
          <h2>Mr. Rachit Tomar has an academic background with BCA from AKTU,Lucknow, MCA from Ajay Kumar Garg Engineering College, Ghaziabad.</h2>
        </div>
      </div>
   </li>
  <li class="team-detail col-12 col-md-6 col-lg-3">
      <div class="cnt-block equal-hight" style="height: 349px;">
        <figure><img src="assets/img/shubham.jpeg" class="img-responsive" alt=""></figure>
        <h3><a href="#">Shubham Yadav </a></h3>
        <p>Tester</p>
        <ul class="follow-us clearfix">
          <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
          <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
          <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
        </ul>
      </div>
      <div class="text-field">
        <div>
          <h2>Mr. Shubham Yadav has an academic background with BCA from xyz University,Firozabad, MCA from Ajay Kumar Garg Engineering College, Ghaziabad.</h2>
        </div>
      </div>
  </li>
  <li class=" team-detail col-12 col-md-6 col-lg-3">
    <div class="cnt-block equal-hight" style="height: 349px;">
      <figure><img src="assets/img/tejasvi.jpg" class="img-responsive" alt=""></figure>
      <h3><a href="#">Tejasvi Chauhan</a></h3>
      <p>Backend Developer</p>
      <ul class="follow-us clearfix">
        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
        <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
      </ul>
    </div>
    <div class="text-field">
      <div>
        <h2>Mr. Tejasvi Chauhan has an academic background with B.Sc from Kumaun University,Nainital, MCA from Ajay Kumar Garg Engineering College, Ghaziabad.</h2>
      </div>
    </div>
</li>
</ul>
</div>
</section>

<section #contact style="background-color: rgba(0, 0, 0, 0.9);">
<h1 class="headings" style="color:whitesmoke;">CONTACT US</h1>
<form action="" class="form" [formGroup]="contactForm" (ngSubmit)="contactusDetail()" style="color:whitesmoke;">
  <input
    type="text"
    name="name"
    class="input"
    placeholder="Enter Your Name(required*)"
    id="name"
    required
    formControlName="name"
  />
  <input
    type="email"
    name="email"
    class="input"
    placeholder="Enter Your Email(required*)"
    formControlName="email"
    id="email"
    required
  />
  <textarea
    name="msg"
    id="msg"
    cols="30"
    rows="10"
    placeholder="Enter Your Message(required*)"
    required
    id="msg"
    formControlName="msg"
  ></textarea>
  <input type="submit" value="SEND" id="send" />
</form>
</section>
