<div class="dashboard-wrapper">
    <div class="header-wrapper">
        <app-header></app-header>
    </div>
    <div class="contentBody">
        <div class="left-sidebar-wrapper">
            <app-left-sidebar></app-left-sidebar>
        </div>
        <div class="content-wrapper">
            <div>
                <app-create-post></app-create-post>
            </div>
            <div>
                <app-view-post></app-view-post>
            </div>
        </div>
        <div class="right-sidebar-wrapper"> 
            <app-right-sidebar></app-right-sidebar>
        </div>
    </div>
</div>